/* Rating Form */
div.rating-form form {
	margin: 0px;
	width : auto;
	max-width: 100%;
	display: table;
	margin-bottom: 30px;
	margin-top: 15px;
}
div.rating-form input[type="button"] {
	display: inline-block;
}
div.rating-form form table {
	width: 100%;
	text-align: left;
}
div.rating-form form h4 {
	font-weight: bold;
}
div.rating-form form table td {
	vertical-align: top;
}
div.rating-form form table label {
	font-weight: normal;
	vertical-align: text-top;
}
div.rating-form form table .value {
	padding-bottom: 10px;
	text-align: right;
}
div.rating-form form table .value select {
	min-width: 50px;
}
div.rating-form form table textarea, div.rating-form form table input {
	min-weight: 100%;
	width: 100%;
}
div.rating-form form table input[type=radio] {
	width: auto;
	margin-right: 2px;
	margin-left: 10px;
}
div.rating-form form table input[type=button] {
	width: auto;
}
div.rating-form form .save-rating {
	
}
div.rating-form form .delete-rating {
	margin-right: 10px;
}
div.rating-form form table label.textarea-label, div.rating-form form table label.input-label {
	display: block;
	padding-bottom: 0px;
}
div.rating-form div.radio-option {
	display: inline-block;
}
div.rating-form form table .action {
	text-align: right;
}
.rating-form textarea {
	width: 100%;
	max-width: 100%;
}

.rating-item .radio-option label {
	display: inline-block !important;
}
.rating-item label + .radio-option, .rating-item label + select {
	margin-top: 5px;
}
.rating-item .radio-option {
	margin-right: 10px;
	display: inline-block;
}
.rating-item .radio-option input {
	margin-right: 2px;
	display: inline-block;
}
label.description + select, label.description input {
	margin-left: 5px;
}
.rating-item label.description + .radio-option {
	margin-right: 10px;
}
label.description {
	display: inline-block !important;
}
.star-rating-select .fa-minus-circle {
	margin-right: 5px;
}
.rating-result a + .score-result, .rating-result a + .score-result + .count, 
.rating-result a + .percentage-result, .rating-result a + .percentage-result + .count,
.star-result + .count, .rating-result .star-rating + .star-result, .rating-result .star-result + .count, .rating-result .star-rating, .star-rating + .star-result {
	margin-left: 5px;
}


/* Rating Results */
h1 .star-rating, h1 .star-result, h1 .no-rating-results-text, h1 .count  {
	font-size: 65%;
	text-transform: none;
	font-weight: normal;
	display: inline-block;
	margin-left: 5px;
	text-align: left;
	vertical-align: top;
}
h1 .no-rating-results-text {
	display: inline;
}
.rating-result-summary {
	display: inline-block;
	margin-left: 5px;
}

.rating-result .star-rating, .rating-result .star-result, .rating-result .count, .rating-result {
	display: inline-block;
}


/* Top Rating Results */
.top-rating-results table tbody tr td {
	vertical-align: top;
}
.top-rating-results table tbody tr + tr td {
	margin-top: 2px;
}
.top-rating-results .rank, .top-rating-results .rating-result, .top-rating-results .title, .top-rating-results .count {
	margin-right: 5px;
}
.top-rating-results .star-result, .top-rating-results .count {
	vertical-align: top;
}
.top-rating-results .rating-result-row + .star-result {
	margin-left: 5px;
}


/** 
 * Common
 */
.user-rating-results, .top-rating-results, .rating-item-results, .rating-result-reviews  {
	margin-top: 10px;
	padding-bottom: 10px;
}
form.category-id-filter {
	display: block;
}
form.category-id-filter label {
	font-weight: normal;
}
form.category-id-filter select {
	margin-left: 5px;
}
.category-id input[type=submit] {
	margin-left: 5px;
}
.rating-item label.description {
	margin-right: 5px;
}
/* Table styles */
.top-rating-results table, .top-rating-results td, .top-rating-results th, .top-rating-results tr {
	border: none;
	border-width: 0px;
	border-spacing: 0px;
	width: auto;
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}